.shop_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 2%;

}

.shop_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    gap: 20px;
    width: min-content;

}

.shop_products .item {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.category_banner {
    width: 100%;
}

.Shopcategory-index p {
    float: left;
    margin-left: 10%;
}

.Shop_sort {
    float: right;
    margin-right: 10%;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 0.5%;
    margin-top: 16px;
    cursor: pointer;
}

.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    border-radius: 75px;
    background: #ededed;
    color: black;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}


@media screen and (max-width: 950px) {
    .shop_products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .shop_products .item {

        flex-direction: column;
    }
}